body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
}

#app {
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
}

/* */
#container {
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 1000px;
  background-color: white;

  display: grid;
  grid-template-rows: 1fr 2fr 4fr;
  align-items: center;
}

/* Name of the Battle */
#battleName {
  font-size: 1.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* Leader Images and Names */
#icons {
  width: 100%;
  min-width: 200px;
  max-width: 800px;

  height: 100%;
  min-height: 100px;
  max-height: 300px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leaderImageContainer {
  width: 100%;
  min-width: 100px;
  max-width: 400px;

  height: 100%;
  min-height: 100px;
  max-height: 300px;

  display: grid;
  grid-template-rows: 1fr 20px;
  align-items: center;
  justify-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Container for Hints, Guessing Buttons, Results, and Go Next Button */
#hints_and_result {
  width: 100%;
  min-width: 200px;
  max-width: 800px;

  height: 100%;
  min-height: 300px;
  max-height: 500px;

  overflow-y: hidden;
}

#hint_and_button_slider {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 3fr 1fr;

  background-color:aquamarine;

}

#result_slider {
  width: 100%;
  height: 100%;

  background-color:rebeccapurple;

}

/* Date, Location, and Belligerent Hints*/
#hints {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

}

h2 {
  margin: 0;
  /* font-size: 1.2rem; */
}

.reveal {
  width: 100%;

  height: auto;
  min-height: 60px;
  max-height: 200px;

  display: grid;
  align-items: center;
  justify-items: center;

  background-color: gold;
}

.fade_text {
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

/* Guessing Buttons*/
#buttons {
  width: 100%;
  min-width: 200px;
  max-width: 800px;

  height: 100%;
  min-height: 50px;
  max-height: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

}

.btn {
  width: 65%;
  height: 75%;
  border-radius: 8px;
  
  display: grid;
  align-items: center;
  justify-items: center;
}

#left-btn {
  /* background-color: blue; */
}

#right-btn {
  /* background-color: red; */
}







/* Animations */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}