body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
}

#app {
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
}

/* */
#container {
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 1000px;
  background-color: white;

  display: grid;
  grid-template-rows: 2fr 4fr 1fr 7fr;
  align-items: center;
}

/* Name of the Battle */
#battleName {
  font-size: 1.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* Leader Images */
#icons {
  width: 100%;
  min-width: 200px;
  max-width: 800px;

  height: 100%;
  min-height: 100px;
  max-height: 300px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leaderImageContainer {
  width: 100%;
  min-width: 100px;
  max-width: 400px;

  height: 100%;
  min-height: 100px;
  max-height: 300px;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}


/* Leader Names */
#leader_names {
  min-height: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: center;
}

/* Container for Hints, Guessing Buttons, Results, and Go Next Button */
#hints_and_result_window {
  width: 100%;
  height: 100%;

  overflow-y: hidden;
}

#hints_and_result_container {
  width: 100%;
  height: 200%;
}

#result_container {
  width: 100%;
  height: 50%;

  background-color:rebeccapurple;

  display: grid;
  justify-items: center;
  align-items: center;

  z-index: -1;
}

#hint_and_button_container {
  width: 100%;
  height: 50%;

  display: grid;
  grid-template-rows: 3fr 1fr;

  background-color:aquamarine;

}

.slideUp {
  transform: translateY(-50%);
}

.slideDown {
  animation: slideDownFromTop ease-in-out 1s;
  -webkit-animation: slideDownFromTop ease-out 0.8s;
  -moz-animation: slideDownFromTop ease-out 0.8s;
  -o-animation: slideDownFromTop ease-out 1s;
  -ms-animation: slideDownFromTop ease-out 1s;
}


/* Date, Location, and Belligerent Hints*/
#hints {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

}

h2 {
  margin: 0;
  /* font-size: 1.2rem; */
}

.reveal {
  width: 100%;

  height: auto;
  min-height: 60px;
  max-height: 200px;

  display: grid;
  align-items: center;
  justify-items: center;

  background-color: gold;
}

.fade_text {
  animation: fadeIn ease-out 1s;
  -webkit-animation: fadeIn ease-out 1s;
  -moz-animation: fadeIn ease-out 1s;
  -o-animation: fadeIn ease-out 1s;
  -ms-animation: fadeIn ease-out 1s;
}


/* Guessing Buttons*/
#buttons {
  width: 100%;
  min-width: 200px;
  max-width: 800px;

  height: 100%;
  min-height: 50px;
  max-height: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

}

.btn {
  width: 65%;
  height: 75%;
  border-radius: 8px;
  
  display: grid;
  align-items: center;
  justify-items: center;
}

#left-btn {
  /* background-color: blue; */
}

#right-btn {
  /* background-color: red; */
}


/* Animations */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {top: -100%;}
  100% {top: 0%;}
}

@keyframes slideDownFromTop {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
 }

@-moz-keyframes slideDownFromTop {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

 @-webkit-keyframes slideDownFromTop {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

@-o-keyframes slideDownFromTop {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

@-ms-keyframes slideDownFromTop {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}